@inherits Microsoft.AspNetCore.Components.LayoutComponentBase
@inject SchemaState SchemaState

<div class="sf-app">
    <TopBar />
    <div class="sf-body">
        @Body
    </div>
    <StatusBar />
</div>
